# Dependencies
node_modules/
.pnp
.pnp.js
# Testing
coverage/
# Next.js
.next/
out/
dist/
# Production
build/
# Misc
.DS_Store
*.pem
*.bak
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tooling
.eslintcache
# Local env files
.env*.local
.env
# Vercel
.vercel
# TypeScript
*.tsbuildinfo
next-env.d.ts
